<% provide(:title,'About') %>

<div>
    <h1>About</h1>
  </div>

<div class ="row">

  <div class="span4">
    <img id="map_image" src="https://maps.googleapis.com/maps/api/staticmap?center=51+Wall+Street,NY&zoom=10&size=300x300&sensor=false"/>
  </div>

  <div class="span4">
     <p>
      This 'doggy dating app' is the creation of James Elliott and was completed as the final project for General Assemb.ly's WDI Summer 2013 course.
    </p>
      <h3>Contact Me</h3>
    <p>
    </p>
  </div>


  <div class ="span4">
  <%= image_tag("je.jpg", :alt => "JE", size: "275x275", id: "map_image" ) %>
  </div>

</div>

