<% provide(:title,'About') %>




<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    <h1>About</h1>
    </a>
    </div>
 <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
    <p>
      This 'doggy dating app' is the creation of James Elliott and was completed as the final project for General Assemb.ly's WDI Summer 2013 course.
    </p>
     </div>
    </div>
  </div>

