<% provide(:title,'About') %>
    <h1>About</h1>
    <p>
      This 'doggy dating app' is the creation of James Elliott and was compeleted as the final project for General Assemb.ly's WDI Summer 2013 course.
    </p>