<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class="row">
  <aside class="span5">
    <section>
      <h1>
        <strong>James Elliott</strong><br>
        </strong>elliottjam@gmail.com</strong><br>
      </h1>
    </section>
  </aside>
</div>