<div class="center hero-unit">
    <h1>Breeder's Duty</h1><br>
    <h2>aka </h2>
      <h1>"Doggy Dating"</h1>
    <h2><br><br>
      An application to find and increase the stock of rare dog breeds.
    </h2>
</div>
  <% @dogs.shuffle[0..8].each do |dog| %>
    <tr>
      <td><%= image_tag dog.avatar.thumb.url %></td>

    </tr>
  <% end %>
</table>
