<div class="center hero-unit">
    <h1>Doggy Dating App</h1>
    <h2>
      This is the home page for Doggy Dating!
    </h2>

      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
