<footer class="footer">
  <small>
    Website Design by <a href="http://www.linkedin.com/in/1james1">James Elliott</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>